:root {
    --borde-pagina: 10px;
}
.container{
  height: calc(100vh - var(--borde-pagina) * 2);
  padding: var(--borde-pagina);
}
body{
    background-color: black;
    margin:0;
}


nav {
    background: #022B3A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}
.user{
    width: 45px;
    height: 40px;
}
form {
    /* Mueve el formulario a la izquierda */
    margin-right: auto;
}

a {
    /* Centra el enlace en el medio */
    margin:  auto;
    text-align: center;
}

div.img {
    /* Mueve el div a la derecha */
    margin-left: auto;
}
div.playlist{
    background: #022B3A;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
#pauseButton{
    display: none;
}
button.Pcançons{
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 4%;
    font-size: small;

}
.cançons{
    width: 70%;
    background-color: #022B3A;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 1%;
    font-size: small;
}
p{
    color: white;
}
.nav{grid-area: nav;}
.playlist{grid-area: playlist;
    overflow-y: auto;}
.songs{grid-area: songs;
    background-color: black;
    padding: 10px;
    overflow-y: auto;
}
.barra{grid-area: barra;
    background-color: #022B3A;
}
.grid-container{
    background-color: black;
    display: grid;
    grid-template-areas:
    'nav nav nav'
    'playlist songs songs'
    'playlist songs songs'
    'playlist songs songs'
    'playlist songs songs'
    'playlist songs songs'
    'playlist songs songs'
    'playlist barra barra';
    gap: 10px;
    height: 100%;
}
.grid-container > * {
    text-align: center;
    border-radius: 10px;
  }

  img.lupa{
    width: 10px;
    height: 10px;
  }

  .cntr{
    grid-area: cntr;
    color: white;
    align-items: center;
  }
  .musica{
    grid-area: musica;
    
  }
  h6{
    display: inline-block;
    color: white;
  }
  .imgsong{
    grid-area: imgsong;
  }
  div.barra{
    display: grid;
    grid-template-areas:
    'cntr musica musica musica imgsong';
    gap: 10px;
    align-items: center;
  }
  .cntr{
    display: block;
  }

  .cntr div{
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  #barraProgreso{
    width: 80%;
  }
  img.portadasong{
    width:100px;
    height: 100px;
    padding: 10px;
  }
  div > img{
    width: 25px;
    height: 25px;
  }

  #barravolum{
    display: none;
  }

  @media screen and (max-width: 768px) {
    .grid-container{
        background-color: black;
        display: grid;
        grid-template-areas:
        'nav nav nav'
        'playlist songs songs'
        'playlist songs songs'
        'playlist songs songs'
        'playlist songs songs'
        'playlist songs songs'
        'playlist songs songs'
        'barra barra barra';
        gap: 10px;
        height: 100%;
    }
  }